.holderArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.emitterFieldHolder{
    display: flex;
    flex-direction: row;
    width:100%;
    flex:4;
}

.labelHolder{
    flex: 1;
    width: 100%;
    display: flex;
}

.inputHolder{
    flex: 3;
    width: 100%;
    display: flex;
}

.listenerConfigurationArea {
    display: flex;
    flex: 5;
    flex-direction: row;
}


.listenerMesssageArea {
    display: flex;
    width: 100%;
    align-content: flex-start;
    height: 125px;
}



