.holderArea{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.emitterFieldHolder{
    display: flex;
    flex-direction: row;
}

.leftAligned{
    align-items: flex-end;
    justify-content: flex-end;
}

.rightAligned{
    align-items: flex-start;
    justify-content: flex-start;
}
.emitterField{
    display: flex;
    flex: 1;
}
