.formTest {
    display: flex;
    flex-direction: column;
    flex: 2;
    
}

.urlarea {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: aqua;

}

.containerarea {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.listenerArea {
    display: flex;
    flex: 1;
    
}

.emitterArea {
    display: flex;
    flex: 1;
    
}


.container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

